# Dataset Used

* Spider Dataset

* https://yale-lily.github.io/spider

In [36]:
from datasets import load_dataset

ds = load_dataset("spider")
department = ds["train"].filter(lambda x: x["db_id"] == "department_management")
farm = ds["train"].filter(lambda x: x["db_id"] == "farm")
aircraft = ds["train"].filter(lambda x: x["db_id"] == "aircraft")
architecture = ds["train"].filter(lambda x: x["db_id"] == "architecture")
cinema = ds["train"].filter(lambda x: x["db_id"] == "cinema")

In [37]:
print(ds["train"][57])  # View one sample

print(f"Number of entries: {len(department)}")
print(department[0])  # View one sample

print(f"Number of entries: {len(farm)}")
print(farm[0])  # View one sample

print(f"Number of entries: {len(aircraft)}")
print(aircraft[0])  # View one sample

print(f"Number of entries: {len(architecture)}")
print(architecture[0])  # View one sample

print(f"Number of entries: {len(cinema)}")
print(cinema[0])  # View one sample

{'db_id': 'student_assessment', 'query': 'SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1', 'question': 'What is the name of the course with the most registered students?', 'query_toks': ['SELECT', 'T1.course_name', 'FROM', 'courses', 'AS', 'T1', 'JOIN', 'student_course_registrations', 'AS', 'T2', 'ON', 'T1.course_id', '=', 'T2.course_Id', 'GROUP', 'BY', 'T1.course_id', 'ORDER', 'BY', 'count', '(', '*', ')', 'DESC', 'LIMIT', '1'], 'query_toks_no_value': ['select', 't1', '.', 'course_name', 'from', 'courses', 'as', 't1', 'join', 'student_course_registrations', 'as', 't2', 'on', 't1', '.', 'course_id', '=', 't2', '.', 'course_id', 'group', 'by', 't1', '.', 'course_id', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value'], 'question_toks': ['What', 'is', 'the', 'name', 'of', 'the', 'course', 'with', 'the', 'most', 'registered', 'students', '?']}
Number of entries: 16
{'db_id': 'department_management', 'query': 'SELECT count(*) FROM head WHERE age  >  56', 'question': 'How many heads of the departments are older than 56 ?', 'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'head', 'WHERE', 'age', '>', '56'], 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'head', 'where', 'age', '>', 'value'], 'question_toks': ['How', 'many', 'heads', 'of', 'the', 'departments', 'are', 'older', 'than', '56', '?']}
Number of entries: 40
{'db_id': 'farm', 'query': 'SELECT count(*) FROM farm', 'question': 'How many farms are there?', 'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'farm'], 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'farm'], 'question_toks': ['How', 'many', 'farms', 'are', 'there', '?']}
Number of entries: 46
{'db_id': 'aircraft', 'query': 'SELECT count(*) FROM aircraft', 'question': 'How many aircrafts are there?', 'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'aircraft'], 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'aircraft'], 'question_toks': ['How', 'many', 'aircrafts', 'are', 'there', '?']}
Number of entries: 17
{'db_id': 'architecture', 'query': "SELECT count(*) FROM architect WHERE gender  =  'female'", 'question': 'How many architects are female?', 'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'architect', 'WHERE', 'gender', '=', "'female", "'"], 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'architect', 'where', 'gender', '=', 'value'], 'question_toks': ['How', 'many', 'architects', 'are', 'female', '?']}
Number of entries: 30
{'db_id': 'cinema', 'query': 'SELECT LOCATION FROM cinema EXCEPT SELECT LOCATION FROM cinema WHERE capacity  >  800', 'question': 'Show all the locations where no cinema has capacity over 800.', 'query_toks': ['SELECT', 'LOCATION', 'FROM', 'cinema', 'EXCEPT', 'SELECT', 'LOCATION', 'FROM', 'cinema', 'WHERE', 'capacity', '>', '800'], 'query_toks_no_value': ['select', 'location', 'from', 'cinema', 'except', 'select', 'location', 'from', 'cinema', 'where', 'capacity', '>', 'value'], 'question_toks': ['Show', 'all', 'the', 'locations', 'where', 'no', 'cinema', 'has', 'capacity', 'over', '800', '.']}

# Combine Question

In [38]:
department_question = []
farm_question = []
aircraft_question = []
architecture_question = []
cinema_question = []

for i in range(len(department)):
    department_question.append(('department_management', department[i]['question']))

for i in range(len(farm)):
    department_question.append(('farm', farm[i]['question']))

for i in range(len(aircraft)):
    department_question.append(('aircraft', aircraft[i]['question']))

for i in range(len(architecture)):
    department_question.append(('architecture', architecture[i]['question']))

for i in range(len(cinema)):
    department_question.append(('cinema', cinema[i]['question']))

# Combine Query

In [39]:
department_query = []
farm_query = []
aircraft_query = []
architecture_query = []
cinema_query = []

for i in range(len(department)):
    department_query.append(('department_management', department[i]['query']))

for i in range(len(farm)):
    farm_query.append(('farm', farm[i]['query']))

for i in range(len(aircraft)):
    aircraft_query.append(('aircraft', aircraft[i]['query']))

for i in range(len(architecture)):
    architecture_query.append(('architecture', architecture[i]['query']))

for i in range(len(cinema)):
    cinema_query.append(('cinema', cinema[i]['query']))